/Lab_1/nbproject/private/
/Lab_1/build/
/lab1/nbproject/private/
/Assignment_1/nbproject/private/
/Assignment1/nbproject/private/
/Assignment1/build/
/Lab2/nbproject/private/
/Lab2/build/
/lab1/build/
/lab3/nbproject/private/
/Lab_3/nbproject/private/
/lab_3/nbproject/private/
/lab_3/build/
